<!DOCTYPE html>
<html>
<head>
    <title>Trang nhân viên</title>
</head>
<body>
    <h1>Chào {{ request.user.username }}!</h1>
    <p>Đây là trang dashboard của nhân viên.</p>
    <a href="{% url 'add_user' %}">➕ Thêm người dùng mới</a>
    <a href="{% url 'list_user' %}">📋 Xem danh sách người dùng</a>
    <a href={% url 'book_add' %}>Thêm sách </a>
    <a href={% url 'list_authors' %}>Xem danh sách tác giả </a>
    <a href="{% url 'view_list_book' %}">📚 Xem danh sách sách</a>


</body>
</html>
