{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Giỏ hàng{% endblock %}

{% block content %}
<h2 style="text-align:center; margin-top: 20px;">🛒 Giỏ hàng của bạn</h2>

<link rel="stylesheet" href="{% static 'css/home/style.css' %}" />

{% if cart %}
  <div class="cart-grid">
    {% for key, item in cart.items %}
      <div class="cart-item">
        <h3>{{ item.title }}</h3>
        <img src="{{ item.image.url}}" alt="{{ item.title }}" />
        <p><strong>Giá:</strong> {{ item.price|floatformat:2 }} $</p>
        <p><strong>Số lượng:</strong> {{ item.quantity }}</p>
        <p><strong>Thành tiền:</strong> {{ item.subtotal }} $</p>
      </div>
    {% endfor %}
  </div>

  <div class="cart-summary">
    <p><strong>Tổng cộng:</strong> {{ total|floatformat:2 }} $</p>
    <button class="checkout-btn">🧾 Thanh toán</button>
  </div>
{% else %}
  <p style="text-align:center;">Giỏ hàng của bạn đang trống.</p>
{% endif %}
{% endblock %}
